html,
body {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	background-color: grey;
}
.mainDiv {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	border-radius: 1px;
}

.topTitle {
	display: flex;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 24px;
}
.heading {
	font-size: 16px;
	margin: 20px;
}
.para {
	font-size: 12px;
	margin: 20px;
}
.emptySpace {
	display: flex;
	height: 20px;
}
.mainCalcContainer {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	border-radius: 5px;
	border: solid white;
}
.topofCalc {
	display: flex;
	width: 400px;
	height: 15%;
	margin: 0 auto;
}
.outPutField {
	display: flex;
	height: 50px;
	width: 500px;
	border: solid lightgrey;
	justify-content: flex-end;
	align-items: flex-end;
	margin: 0 auto;
	margin-top: 5px;
	font-size: 28px;
}
.bottomOfCalc {
	display: flex;
	height: 400px;
	width: 400px;
	flex-flow: row wrap;
}
#parenthesesOpen {
	width: 20%;
	height: 15%;
	border: 2px;
	border-radius: 12px;
	margin: 0 auto;
	background-color: lightgray;
	font-size: 28px;
}
#parenthesesClose {
	width: 20%;
	height: 15%;
	border: 2px;
	border-radius: 12px;
	margin: 0 auto;
	background-color: lightgray;
	font-size: 28px;
}
#percent:hover {
	background-color: darkblue;
}
#percent:hover {
	background-color: darkblue;
}
#zero:hover {
	background-color: darkblue;
}
#period:hover {
	background-color: darkblue;
}
#one:hover {
	background-color: darkblue;
}
#two:hover {
	background-color: darkblue;
}
#three:hover {
	background-color: darkblue;
}
#four:hover {
	background-color: darkblue;
}
#five:hover {
	background-color: darkblue;
}
#six:hover {
	background-color: darkblue;
}
#seven:hover {
	background-color: darkblue;
}
#eight:hover {
	background-color: darkblue;
}
#nine:hover {
	background-color: darkblue;
}
#equals:hover {
	background-color: darkblue;
}
#plus:hover {
	background-color: darkblue;
}
#multiply:hover {
	background-color: darkblue;
}
#divide:hover {
	background-color: darkblue;
}
#clearOutPut:hover {
	background-color: darkblue;
}
#minus:hover {
	background-color: darkblue;
}
#parenthesesOpen:hover {
	background-color: darkblue;
}
#parenthesesClose:hover {
	background-color: darkblue;
}
#percent:hover {
	background-color: darkblue;
}

#percent {
	width: 20%;
	height: 15%;
	border: 2px;
	border-radius: 12px;
	margin: 0 auto;
	background-color: lightgray;
	font-size: 28px;
}
#clearOutPut {
	width: 20%;
	height: 15%;
	border: 2px;
	border-radius: 12px;
	margin: 0 auto;
	background-color: lightgray;
	font-size: 28px;
}
#seven {
	width: 20.1%;
	height: 15%;
	border: 2px;
	border-radius: 12px;
	margin: 0 auto;
	background-color: lightgray;
	justify-content: center;
	font-size: 28px;
}
#eight {
	width: 20.1%;
	height: 15%;
	border: 2px;
	border-radius: 12px;
	margin: 0 auto;
	background-color: lightgray;
	justify-content: center;
	font-size: 28px;
}
#nine {
	width: 20.1%;
	height: 15%;
	border: 2px;
	border-radius: 12px;
	margin: 0 auto;
	background-color: lightgray;
	justify-content: center;
	font-size: 28px;
}
#divide {
	width: 20.1%;
	height: 15%;
	border: 2px;
	border-radius: 12px;
	margin: 0 auto;
	background-color: lightgray;
	justify-content: center;
	font-size: 28px;
}
#four {
	width: 20.1%;
	height: 15%;
	border: 2px;
	border-radius: 12px;
	margin: 0 auto;
	background-color: lightgray;
	justify-content: center;
	font-size: 28px;
}
#five {
	width: 20.1%;
	height: 15%;
	border: 2px;
	border-radius: 12px;
	margin: 0 auto;
	background-color: lightgray;
	justify-content: center;
	font-size: 28px;
}
#six {
	width: 20.1%;
	height: 15%;
	border: 2px;
	border-radius: 12px;
	margin: 0 auto;
	background-color: lightgray;
	justify-content: center;
	font-size: 28px;
}
#multiply {
	width: 20.1%;
	height: 15%;
	border: 2px;
	border-radius: 12px;
	margin: 0 auto;
	background-color: lightgray;
	justify-content: center;
	font-size: 28px;
}
#one {
	width: 20.1%;
	height: 15%;
	border: 2px;
	border-radius: 12px;
	margin: 0 auto;
	background-color: lightgray;
	justify-content: center;
	font-size: 28px;
}
#two {
	width: 20.1%;
	height: 15%;
	border: 2px;
	border-radius: 12px;
	margin: 0 auto;
	background-color: lightgray;
	justify-content: center;
	font-size: 28px;
}
#three {
	width: 20.1%;
	height: 15%;
	border: 2px;
	border-radius: 12px;
	margin: 0 auto;
	background-color: lightgray;
	justify-content: center;
	font-size: 28px;
}
#minus {
	width: 20.1%;
	height: 15%;
	border: 2px;
	border-radius: 12px;
	margin: 0 auto;
	background-color: lightgray;
	justify-content: center;
	font-size: 28px;
}
#zero {
	width: 20.1%;
	height: 15%;
	border: 2px;
	border-radius: 12px;
	margin: 0 auto;
	background-color: lightgray;
	justify-content: center;
	font-size: 28px;
}
#period {
	width: 20.1%;
	height: 15%;
	border: 2px;
	border-radius: 12px;
	margin: 0 auto;
	background-color: lightgray;
	justify-content: center;
	font-size: 28px;
}
#equals {
	width: 20.1%;
	height: 15%;
	border: 2px;
	border-radius: 12px;
	margin: 0 auto;
	background-color: lightgray;
	justify-content: center;
	font-size: 28px;
}
#plus {
	width: 20.1%;
	height: 15%;
	border: 2px;
	border-radius: 12px;
	margin: 0 auto;
	background-color: lightgray;
	justify-content: center;
	font-size: 28px;
}
